$primary-white:#fff;
$primary-blue:#1e1666;
$button-bg:#001075;
$secondary-blue:#6A7C92;
$features-bg:#1F59BB;
$features-card-subtext:#afc6ee;
$footer-bg:#051442;
$footer-link:#c2d6d7;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// Navbar Styles
.navbar{
  .nav-link{
    color: $primary-white;
  }
}
.dropdownShadow{
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1);
}
.premiumCourse{
  position: absolute;
  top: -10px;
  right: -10px;
  display: inline-block;
  color: #ffffff;
  margin-right: 5px;
  background-color: #FFD700;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  border: none;
  transition: all 0.3s;
}
.premiumCourse:hover{
  transform: scale(1.2);
}
.dropDownImage{
  max-width: 50px;
}

//Header Section
.header-section{
  min-height: 110vh;
  background-image: url('./images/headerBg.png');
  background-size: cover;
  background-position: bottom center;

  #{&}-textarea{
    display: flex;
    justify-content: center;
    align-items: center;

    .close{
      background:#000;
      color:white;
      margin:0;
      padding:0;
      background: #E91E63;
      height: 30px;
      width: 30px;
    }

    .contact-us-form{
      padding:30px;
      div{
        padding: 10px 0;
      }
      .form-control{
        background-color:#F3F5FD;
      }
      

      button{
        margin-top: 0;
        outline:none;
        font-weight: 500 !important;
        letter-spacing: 1px;
        line-height: 30px;
        background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
        border-radius: 3px !important;
        color: #ffff !important;
        padding: 10px 35px;
        border: none;
      }
    }
    

  }
  #{&}-maintext{
    color: $primary-white;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: -.4px;
  }
  #{&}-subtext{
    color: $primary-white;
    font-size: 18px;
    font-weight: 400;
  }
  .header-link{
    background: $button-bg;
    margin-top: 0;
    outline:none;
    font-weight: 500 !important;
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 3px !important;
    color: #ffff !important;
    padding: 10px 35px;
    border: none;

    &:hover,&:active{
      text-decoration: none;
    }
  }
}

//About Us
.about-section{
  min-height: 100vh;

  .static-card{
    margin-left: 10px;
  }

  .fly-card{
    margin-top: -100px;
  }

  .card{
    padding: 37px 15px 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,.1);

    .card-image{
      text-align: center;

      img{
        max-width: 70%;
      }

    }
    .card-title,.card-text{
      color: $primary-blue;
    }

  }
  .about-textBox{
    background-image: url('./images/aboutTextBox.png');
    background-position: 400px -5px;
    background-repeat: no-repeat;
    margin-top: 50px;
  }

  .about-title{
    color: $primary-blue;
    font-size: 13px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 1.7px;
  }

  .about-maintext{
    color: $primary-blue;
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -.8px;
  }

  .about-subtext{
    color: #6a7c92;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
    line-height: 35px;
    letter-spacing: -.4px;
  }
}

//Skills
.skill-section{
  min-height: 90vh;
  padding: 50px 0;

  #{&}-textBox{
    h1{
      color: $primary-blue;
      font-size: 35px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: -.8px;
    }

    p:first-child{
      color: $primary-blue;
      font-size: 13px;
      font-weight: 600;
      line-height: 45px;
      letter-spacing: 1.7px;
    }

    .skill-para{
      color: $secondary-blue;
      font-size: 15px;
    }

    .skill-section-card{
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
      transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
      padding: 10px;
      margin-right: 8px;;

      img{
        align-self: center;
      }

      .skill-section-cardtext{
        margin-left: 5px;
        h1{
          font-size: 18px;
          color: $primary-blue;
        }
        p{
          color: #6a7c92;
          font-size: 13px;
          font-weight: 400;
          line-height: 23px;
        }
      }
    }
  }
}

//Features

.features{
  min-height: 90vh;
  padding: 50px 0;
  background: $features-bg;

  #{&}-textbox{
    p{
      font-size: 13px;
      color: $primary-white;
      font-weight: 600;
    }
    h1{
      font-size: 35px;
      color: $primary-white;
      margin-bottom: 40px;
    }
  }

  .feature-card{
    padding: 10px;
  }
  .feature-card-img{
    align-self: center;
  }

  .feature-card-textbox{
    h1{
      font-size: 23px;
      margin-bottom: 10px;
      color: $primary-white;
    }
    p{
      color: $features-card-subtext;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

//Testimonial Section

.testimonial-section{
  min-height:90vh;
  padding:50px 0;
  background:#F6F7FC;

  h1{
    color: $primary-blue;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -.3px;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-align:center;
  }


  .testimonial-card{
    background:$primary-white;
    padding:30px;
    box-shadow: 0 0 15px rgba(0,0,0,.06);
    margin-bottom:20px;
    position: relative;
    p{
      color:$secondary-blue;
      font-size: 15px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .testimonial-img{
    align-self: center;
    border-radius:50%;
    margin-right:20px;
  }
.testimonial-textBox{
  h1{
    font-size: 18px;
    margin-bottom:0;
    text-align: left;
  }

  p{
    color:$secondary-blue;
  }
}
}

//Contact Section
.contact-page{
  .contact-header{
    background-image: url('./images/contactHeaderBg.jpg');
    background-size: cover;
  }
  #{&}-textBox{
    h1{
      color:$primary-white;
      font-size: 40px;
      font-weight: 700;
      line-height: 61px;
    }
    p{
      color:$primary-white;
      font-size: 17px;
      font-weight: 400;
      line-height: 28px;
    }
  }
  #{&}-imgBox{
    img{
      max-width:100%;
    }
  }
  .contact-details-section{
    padding: 50px 0;
    min-height:90vh;

    .contact-details-textBox{
      h1{
        color:$primary-blue;
        font-size: 35px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -.3px;
        margin: 0 0 25px;
      }
     
      p{
        color:$secondary-blue;
        font-size:17px;
      }

      .details-content{
        padding: 15px;

        img{
          align-self: center;
          padding-right: 15px;
        }
      }
  
    }
  }

  .contact-us-form{
    padding:30px;
    box-shadow:0px 7px 24px 0px rgba(0,0,0,.12);
    div{
      padding: 10px 0;
    }
    .form-control{
      background-color:#F3F5FD;
    }

    h1{
      color: $primary-blue;
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -.3px;
      margin-bottom: 10px;
    }

    button{
      margin-top: 0;
      outline:none;
      font-weight: 500 !important;
      letter-spacing: 1px;
      line-height: 30px;
      background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
      border-radius: 3px !important;
      color: #ffff !important;
      padding: 10px 35px;
      border: none;
    }
  }
}

//Course Details Page
.course-detail{
  min-height: 100vh;
  #{&}-header{
    background-image: url('./images/courseDetailBg.jpg');
    background-size: cover;

    h1{
      padding: 70px 0;
      text-align: center;
      color: $primary-white;
      font-size: 40px;
      font-weight:700;
      line-height: 61px;
    }
    
  }


  #{&}-author{
    padding: 30px 0 50px 0;
    background-image: url('./images/courseinstructorBG.png');
    background-size: cover;
    .faculty{
      h1{
        color: $primary-blue;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -.3px;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
     .faculty-section{
        padding:20px 0;

        h1{
          color: $primary-blue;
          font-size: 25px;
          font-weight: 600;
          line-height: 35px;
          letter-spacing: -.3px;
          margin-bottom: 10px;
          text-transform: capitalize;
        }

        span{
          color:$primary-white;
          background:#0557DF;
          padding: 2px 10px;
          border-radius: 5px;
          font-size: 12px;
        }

        p{
          color:$secondary-blue;
          margin-top: 10px;
        }
   
        .course-faculty-imgBox{
          display: inline-block;
          position: relative;
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          text-align: center;
  
          img{
            width: auto;
            height: 100%;
             border-radius: 50%;
          }
        }
      }
      
    }
  }

  #{&}-features{
    min-height: 50vh;
    padding: 50px 0;
    background: $features-bg;
  }
  
  #{&}-faq{
    min-height: 50vh;
    padding: 50px 0;
    h1{
      color: $primary-blue;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -.3px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    .accordion{
      padding: 50px 0;
      .course-accordion-card{
        button{
          width: 100%;
          text-align: left;
          padding: 20px;
          font-size: 20px;
          border: none;
          background: $primary-white;
          color: $primary-blue;
          outline:none;
          border-bottom: 1px #d8c3fd solid;
        }
        .course-accordion-card-body{
          margin: 20px 0;
        }
      }
    }
  }

  #{&}-syllabus{
    min-height:100vh;
    
    .syllabus-overview{
      background:#262A41;
      min-height:100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .close{
        background:#000;
        color:white;
        margin:0;
        padding:0;
        background: #E91E63;
        height: 30px;
        width: 30px;
      }

      .contact-us-form{
        padding:30px;
        div{
          padding: 10px 0;
        }
        .form-control{
          background-color:#F3F5FD;
        }
        

        button{
          margin-top: 0;
          outline:none;
          font-weight: 500 !important;
          letter-spacing: 1px;
          line-height: 30px;
          background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
          border-radius: 3px !important;
          color: #ffff !important;
          padding: 10px 35px;
          border: none;
        }
      }
      
      button{
        margin-top: 0;
        outline:none;
        font-weight: 600 !important;
        letter-spacing: 1px;
        line-height: 30px;
        background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
        border-radius: 3px !important;
        color: #ffff !important;
        padding: 10px 45px;
        border: none;
      }
      .container1{
        background: url('./images/bg1.png');
      }
      .container2{
        background: url('./images/bg2.png');
      }
      .container3{
        background: url('./images/bg3.png');
      }
      .container4{
        background: url('./images/bg4.png');
      }
      .flex-container{
       
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 5px;
        padding: 20px;
        background-size: cover;
        height: 200px;
        border-radius:10px;

        h1{
          color:$primary-white;
          font-size: 25px;
          font-weight: 600;
          text-align: center;
          line-height: 1.2;
        }
      }
    }
    .syllabus-content{
      padding:10px 0 50px 0;
      h1{
        color: $primary-blue;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -.3px;
        margin-bottom: 20px;
        text-transform: capitalize;
        text-align:center;
      }

      .syllabus-card2{

        padding:0 50px;

        ul{
          list-style: none;

          li{
            font-size: 20px;
          }
        }

        h2{
          color: $features-bg;
          font-size: 25px;
          font-weight: 500;
          line-height: 35px;
          letter-spacing: -.3px;
          margin-bottom: 20px;
          text-transform: capitalize;
        }

      }

     

      .syllabus-collapse-button{
        font-size: 15px;
        outline: none;
        border: none;
        width: 100%;
        text-align: left;
        margin-bottom: 2px;
        background: white;
        padding: 15px;
        box-shadow: 0px 1px 6px 0 rgba(0, 0, 0, 0.08);
    }
      .syllabus-collapse-content{
        background: #e5e5e583;
        padding: 10px;

        ul{
          list-style: none;
        }
        
      }
    }
  }

}

//HomeContat
.home-contact{
  padding:50px 0;
  text-align:center;

  h1{
    color: $primary-blue;
    font-size: 33px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -.3px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  a{
    margin-top: 0;
    outline:none;
    font-weight: 600 !important;
    letter-spacing: 1px;
    line-height: 30px;
    background: linear-gradient(to right,#fa897d 0%,#fe5f88 100%);
    border-radius: 3px !important;
    color: #ffff !important;
    padding: 10px 45px;
    border: none;
    text-decoration: none;
  }
}

//Gallery
.gallery-page{
  min-height: 100vh;
  #{&}-header{
    background-image: url('./images/galleryHeaderBg.jpg');
    background-size: cover;

    h1{
      padding: 70px 0;
      text-align: center;
      color: $primary-white;
      font-size: 40px;
      font-weight:700;
      line-height: 61px;
    }
  }
  .gallery-section{
    min-height:100vh;
    padding:50px 0;

    .counter-section-box{
      padding:50px 0;

      h1{
        color: $features-bg;
        font-size: 33px;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: -.3px;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
    }

    .img-gal{

      .gal-container{
        overflow: hidden;
        img{
          width:100%;
          height:100%;
          transition: all 0.4s;

          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
    .img-gal-1{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.8fr 0.9fr;
      grid-template-areas: "kc2 kc3 kc4 kc4 " "kc1 kc1 dypatil dypatil" ;
      grid-gap: 5px;

      .kc1{grid-area:kc1;}
      .kc2{grid-area:kc2;}
      .kc3{grid-area:kc3;}
      .dypatil{grid-area: dypatil;}
      .kc4{grid-area: kc4;}
    }

    .img-gal-2{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 0.7fr;
      grid-template-areas: "nmims1 nmims1 appdevstudent1 appdevstudent1" "nmims2 nmims3 appdevstudent2 appdevstudent3" ;
      grid-gap: 5px;

      .appdevstudent1{grid-area:appdevstudent1;}
      .appdevstudent2{grid-area:appdevstudent2;}
      .appdevstudent3{grid-area:appdevstudent3;}
      .nmims1{grid-area: nmims1;}
      .nmims2{grid-area: nmims2;}
      .nmims3{grid-area: nmims3;}
    }

    .img-gal-3{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.8fr 1fr;
      grid-template-areas: "dypatil1 dypatil1 gpm1 gpm1 " "appdevstudent4 appdevstudent4 appdevstudent5 appdevstudent5" ;
      grid-gap: 5px;

      .dypatil1{grid-area:dypatil1;}
      .gpm1{grid-area:gpm1;}
      .appdevstudent5{grid-area:appdevstudent5;}
      .appdevstudent4{grid-area: appdevstudent4;}
    }
    .img-gal-4{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 0.8fr;
      grid-template-areas: "appdevstudent6 appdevstudent6 bhartividyapeeth bhartividyapeeth" " appdevstudent7 appdevstudent8 bhartividyapeeth2 bhartividyapeeth2" ;
      grid-gap: 5px;

      .appdevstudent6{grid-area:appdevstudent6;}
      .appdevstudent7{grid-area:appdevstudent7;}
      .appdevstudent8{grid-area:appdevstudent8;}
      .bhartividyapeeth{grid-area: bhartividyapeeth;}
      .bhartividyapeeth2{grid-area: bhartividyapeeth2;}
    }

    
   
  }
}


//Footer Section
.footerSection{
  background: $footer-bg;
  color: $primary-white;
  overflow-x: hidden;
 

  .footerLinks{
    color: $footer-link;
  }
  .footerLinks:hover {
    color: $footer-link;
   text-decoration:none;
  }
  .footerMainText{
    font-size:20px;
    font-weight: 600;
    color: $primary-white;
  }
  .footer-text{
    line-height: 1.5rem;
    color: $footer-link;
  }
  .iconBox{
    display: inline-block;
    color: $primary-blue;
    margin-right: 5px;
    background-color: $primary-white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
  
    &:hover,
    &:active{
      color: $primary-blue;
    }
  }
}



@media screen and (max-width: 480px) {
  .premiumCourse{
    display:none
  }
  .header-section{
    min-height: 100vh;
    
    .row{
      margin: 0;
      padding: 0;
    }

    
    #{&}-textarea{
      margin-top: 50px;
    }

    #{&}-maintext{
      color: $primary-white;
      font-size: 25px;
      font-weight: 600;
      line-height: 55px;
      letter-spacing: -.4px;
    }

    .header-section-img{
      max-width: 100%;
    }
  }

  //About Us
  .about-section{
    min-height: 100vh;
    margin-bottom: 50px;

    .row{
      margin: 0;
    }

    .card{
      margin: 20px;
    }

    .fly-card{
      margin-top: 0;
    }

    .static-card{
      margin-left: 0;
    }

    .about-maintext{
      font-size:25px;
    }
    .header-section-subtext{
      font-size: 22px;
    }
  }
  //Skills
  .skill-section{
    #{&}-img{
      max-width:100%;
    }
    #{&}-textBox{
      .skill-section-card{
        img{
          padding-left: 20px;
        }
        .skill-section-cardtext{
          margin-left: 15px;
        }
      }
    }
    
    
  }

  //Features
  .features{
    .feature-card{
      padding: 0px;
    }
  }
  //Contact uS
  .contact-page-textBox{
    text-align: center;
  }
  .contact-page .contact-us-form {
    padding: 10px;
  }

  //CourseDetail
  .faculty-section{
    text-align:center
  }
  .course-detail-syllabus-row{
    margin: 0;
    padding:0
  }
  .course-detail .course-detail-features {
    padding: 50px 20px;
}
  .flex-container-box{
    padding:0 10px
  }
  .syllabus-overview{
    padding: 20px;
    .syllabus-overview-row{
      padding:0;
      margin: 0;
    }
    button{
      width: 100%;
    }
  }
  .course-detail .course-detail-syllabus .syllabus-content .syllabus-collapse-button {
    font-size:20px;
  }
  .course-detail .course-detail-faq .accordion {
    padding: 0;
}

//Testimonial
.testimonial-col{
  margin: 30px 0;
}

//Gallery
.gallery-page{
  .gallery-section{
    .img-gal-1{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.9fr 0.7fr 0.7fr 0.7fr;
      grid-template-areas: "kc2" "kc3" "kc4" "kc1" "dypatil" ;
    }

    .img-gal-2{
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 0.5fr 0.8fr 0.9fr 0.8fr 0.8fr;
      grid-template-areas: "nmims1" "appdevstudent1" "nmims2" "nmims3" "appdevstudent2" "appdevstudent3" ;
    }

    .img-gal-3{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.9fr 1fr 1fr;
      grid-template-areas: "dypatil1" "gpm1" "appdevstudent4" "appdevstudent5" ;
    }

    .img-gal-4{
      grid-template-columns: 1fr;
      grid-template-rows: 0.8fr 0.6fr 0.9fr 0.8fr 0.7fr;
      grid-template-areas: "appdevstudent6" "bhartividyapeeth" " appdevstudent7" "appdevstudent8" "bhartividyapeeth2" ;
    }
  
  }

}

}